@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }

  /* ----------------------HEADER--------------------- */

  .header > .container {
    justify-content: center;
  }

  .header-contacts {
    display: flex;
    gap: 40px;
  }

  .header-email,
  .header-tel {
    font-size: 16px;
    line-height: 1.5;
  }

  .header-link.current::after {
    content: "";
    bottom: -24px;
  }

  /* ------------------HERO-------------------------- */

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero-bg@2x.jpg");
    }
  }
  /* ------------------FEATURES-------------------------- */

  .features, .team, .clients {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: var(--light-background);
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .features-item {
    max-width: 264px;
  }

  /* --------------------ABOUT------------------- */

  .without {
    padding-top: 0px;
  }
  .about-title {
    margin-bottom: 72px;
  }

  .about-list {
    display: flex;
    gap: 24px;
  }

  .features .about {
    background-color: var(--main-background-color);
  }

  /* --------------------CUSTOMERS------------------- */

  .clients-item {
    width: calc((100% - 120px) / 6);
  }

  /* ----------------------FOOTER--------------------- */

  .footer > .container {
    justify-content: space-between;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .logo-content,
  .media {
    margin-bottom: 0;
  }

  /* ---------------------MODAL_FORM---------------------  */

  .modal-title {
    margin-bottom: 14px;
  }
}
